ul
{
	list-style: none;
}

li
{
	display: inline-block;
}

.menu li a
{
	background-color: rgba(20,7,184,0.86);
	color: red;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	border-radius: 10px/6px;
	margin: 1px;
	text-decoration: none;
	transform: rotate(-30deg);
}